*_MatrixProcessed.txt.gz
*_series_matrix.txt.gz
*_450kMethylationDataBackgroundNormalized.txt.gz
*_GEOmatrixprocessed.csv.gz
*_matrix_processed_update.csv.gz
*_datBetaNormalized.csv.gz
*_Matrix_processed.tsv.gz
*.over.chain
humanmethylation450_15017482_v1-2.csv.gz
infinium-methylationepic-v-1-0-b5-manifest-file-csv.zip
.Rhistory
*~